.u-section-1 .u-sheet-1 {
  min-height: 409px;
}

.u-section-1 .u-text-1 {
  margin: 185px 423px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 117px 0 0;
}

.u-section-1 .u-line-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 3px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 765px;
}

.u-section-2 .u-text-1 {
  margin: 26px auto 0 11px;
}

.u-section-2 .u-tabs-1 {
  min-height: 639px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 26px;
}

.u-section-2 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-5 {
  margin: 0 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-7 {
  margin: 0 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-9 {
  margin: 0 30px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-2 .u-text-11 {
  margin: 0 30px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-13 {
  margin: 0 30px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-15 {
  margin: 0 30px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-2 .u-text-17 {
  margin: 0 30px;
}

.u-section-2 .u-text-18 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-19 {
  margin: 0 30px;
}

.u-section-2 .u-text-20 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-21 {
  margin: 0 30px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-22 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-2 .u-text-23 {
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 608px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 42px;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-5 {
  margin: 0 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-7 {
  margin: 0 30px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-3 .u-text-9 {
  margin: 0 30px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-11 {
  margin: 0 30px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-3 .u-text-13 {
  margin: 0 30px;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-15 {
  margin: 0 30px;
}

.u-section-3 .u-text-16 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-17 {
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 624px;
}

.u-section-4 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-4 .u-tabs-1 {
  min-height: 499px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 30px;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-4 .u-text-5 {
  margin: 0 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-4 .u-text-7 {
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}